<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Twitory</title>

    <link rel="stylesheet" href="/static/stylesheets/styles.css">
    <link rel="stylesheet" href="/statitc/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

  <body>
      <div class="wrapper">
        <header>
          <h1>Twitory</h1>
          <p>Your twitter story</p>
          {% if user %}
              <p><img src="/static/images/twilogo.png" style="height:1.2em;vertical-align:middle;">{{ user }} <a href="{{ url_for('logout') }}">logout</a><br />
                 <a href="{{ url_for('upload') }}">Upload archive</a></p>
          {% else %}
              <p><a href="{{ url_for('login') }}">Login by twitter</a></p>
          {% endif %}

          {% if header_links %}
              <br/><br/>
              <p>
              {% for link, text in header_links.items() %}
                  <a href="{{ link }}">{{ text }}</a><br/>
              {% endfor %}
              </p>
          {% endif %}

        </header>
        <section>

{% if error %}
    <pre><code>{{ error }}</code></pre>
{% endif %}
