<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Twitory</title>

    <link rel="stylesheet" href="/static/stylesheets/styles.css">
    <link rel="stylesheet" href="/statitc/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

  <body>
      <div class="wrapper">
        <header>
          <h1>Twitory</h1>
          <p>Your twitter story</p>
          {% if user %}
              <p><a href="{{ url_for('logout') }}">Logout {{ user }}</a></p>
              <p><a href="{{ url_for('upload') }}">Upload archive</a></p>
          {% else %}
              <p><a href="{{ url_for('login') }}">Login by twitter</a></p>
          {% endif %}
        </header>
        <section>

{% if error %}
    <pre><code>{{ error }}</code></pre>
{% endif %}
